.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* Safari support */
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventCard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 70vw; /* Adjust width as needed */
  margin: 15px; /* Space between cards in a grid */
  border-radius: 10px;
  background: linear-gradient(to right, #b03c61, #ff8484);
  position: relative;
  justify-self: center;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  z-index: 1;
}

/* On mouse-over, add a deeper shadow */
.eventCard:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px rgb(255, 54, 54);
}

.eventInfo {
  position: relative;
  z-index: 40;
  background-color: rgba(255, 255, 255, 0.95);
  justify-content: space-between;
  justify-self: center;
  max-width: 85vw;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  max-height: 100vh;
  overflow-y: auto;
}

.eventImage {
  width: auto;
  max-width: 100%;
  height: 200px;
  padding: 5px;
}

.eventInfo > div:last-child {
  display: flex;
  flex-wrap: wrap; /* Allows images to drop to the next line */
  gap: 10px;
  justify-content: left;
}

.animateEventCard {
  animation: fade-in 1.5s forwards;
}

.animateModal {
  animation: fade-in 0.5s;
}

/* Ensure images fit nicely within the card with rounded corners at the top */
img {
  border-radius: 5px 5px 0 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
