.buttonIcon {
  background-color: #ca323200;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonIcon:hover {
  cursor: pointer;
  background-color: #ca323228;
}