.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%; /* Adjust width as needed */
  border-radius: 5px; /* Rounded corners */
  margin: 15px; /* Space between cards in a grid */
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  opacity: 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.animate {
  animation: fade-in 1.5s forwards;
}

/* Ensure images fit nicely within the card with rounded corners at the top */
img {
  border-radius: 5px 5px 0 0;
}

@keyframes fade-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
