.textOverlay {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 70px); /* height of titlebar, change later if needed */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px); /* Safari support */
  background-color: rgba(0, 0, 0, 0.195);
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: rgb(238, 238, 238);
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px #000000ff;
  z-index: 40;

  transform: translateY(-35px);
  width: 100%;
}

.text p {
  margin: 0;
}

.animate {
  animation: fade-in 1.5s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
