.titlebar {
  width: 100%;
  height: 70px;
  background-color: rgb(218, 218, 218);
  display: flex;
  align-items: center;
}

.titlebar > * {
  flex-shrink: 0;
}

.link-container > * {
  flex-shrink: 0;
}

.title-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.title-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.title-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.title-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

.title-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
