.dashboardBackground {
  position: relative;
}

#qffBackground {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

#qffPinkSticker {
  position: relative;
}

.blurContainer {
  position: absolute;
  top: 50%;
  left: 25%;
  right: 25%;
  background-color: rgba(255,255,255, 0.3);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  border-width: 5% 5% 5% 5%;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.3)
}

.titleBox {
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  text-align: center;
}

#QFFTitleColor {
  color: rgb(240, 95, 135)
}

#McGillColor {
  color: rgb(255, 65, 35)
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
